*.exe
*.o
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.log
*.tlog
*.lastbuildstate
.vs/
*.suo
*.user
*.ncb
*.sdf
ipch/
Debug/
Release/
x64/
packages/
node_modules/
.DS_Store
Thumbs.db

gd_frame.bmp
geometry_dash_save.dat

SpaceShip/
